<!-- <div>
  <h2>Weather App</h2>
  <input [(ngModel)]="this.city" placeholder="Enter city">
  <button (click)="getWeather()">Get Weather</button>

  <div *ngIf="weatherData">
    <h3>Weather in {{ weatherData.name }}</h3>
    <p>{{ weatherData.weather[0].description }}</p>
  </div>
</div> --->
<div class="header">
  <div class="nav-list">
    <li><a href="">Home</a></li>
    <li><a href="">News</a></li>
    <li><a href="">Help</a></li>
    <span class="more-icon">
      <img src="https://raw.githubusercontent.com/dizas9/CSS-UI-Practices/main/BBC-HomePage/icons/more-icon.png" alt="">
    </span>
  </div>
</div>

<mat-card class="top-header">
  <img style="opacity: 0.8px !important;" src="../../assets//Images/weather.jpg">
  <div class="container">
    <h1 class="text-center my-4">Search for Weather</h1>
    <div class="text-center">
      <input type=text class="center" [(ngModel)]="this.city" placeholder="Enter city">
      <button mat-raised-button color="primary" (click)="getWeather()">Get Weather</button>
      <div class="row">
        <h3 class="text-center my-4">Weather Details for the City <span class="con-header">{{ weatherData.name }}</span></h3>
        <div class="col-md-3">
          <mat-card>
            <mat-card-content>
              <p>Weather in </p>
                <span class="content">{{ weatherData.name }}</span>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-md-3">
          <mat-card>
            <mat-card-content>
              <p>Weather Description</p>
              <span class="content">{{ weatherData.weather[0].description }}</span>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-md-3">
          <mat-card>
            <mat-card-content>
              <p>Latitude</p>
              <span class="content">{{ weatherData.coord.lat }}</span>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-md-3">
          <mat-card>
            <mat-card-content>
              <p>Longitude</p>
              <span class="content">{{ weatherData.coord.lon }}</span>
            </mat-card-content>
          </mat-card>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <mat-card>
            <mat-card-content>
              <p>Maximum Temperature</p>
              <span class="content">{{ weatherData.main.temp_max}}</span>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-md-3">
          <mat-card>
            <mat-card-content>
              <p>Minimum Temperature</p>
              <span class="content">{{weatherData.main.temp_min }}</span>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-md-3">
          <mat-card>
            <mat-card-content>
              <p>Temperature</p>
              <span class="content">{{ weatherData.main.temp}}°C</span>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-md-3">
          <mat-card>
            <mat-card-content>
              <p>Humidity</p>
              <span class="content">{{ weatherData.main.humidity}}%</span>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>